<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/unnamed.png" class="img-fluid" id="fotoperfil" />
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">
      {{ persona.nombre }}{{ persona.apellido }} Agustin Carlos Dalzotto
    </p>
    <p id="titulo">Porgramador full stack JR</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mí:</h1>
      <p id="texto">
        Soy estudiante de la carrera de Lic. en Sistemas de la Universidad
        Nacional de Entre Rios. Aficionado a los videojuegos, la musica, el arte
        y la programación.
      </p>
    </span>
  </div>
</div>
