<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/unnamed.png" class="img-fluid" id="fotoperfil" />
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">{{ persona.nombre }} {{ persona.apellido }} dalzotto</p>
    <p id="titulo">Porgramador full stack JR</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mí:</h1>
      <p id="texto">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur
        sapiente minima numquam at quisquam eius nulla laudantium expedita
        eligendi? Officiis totam, vel fugiat magni aperiam aliquid debitis
        tempora labore exercitationem!
      </p>
    </span>
  </div>
</div>
