<div class="row">
    <h1>hard skills:</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="10"
        subtitle="python"
        imageSrc="../assets/iconos de hardysoft/html-5.png"
        subtitleFontSize="20px"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="800"
        titleColor="white"
        titleFontSize="30"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [animationDuration]="800"
            titleColor="white"
            titleFontSize="30"
        ></circle-progress>
        </div>
         <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="800"
        titleColor="white"
        titleFontSize="30"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [animationDuration]="800"
            titleColor="white"
            titleFontSize="30"
        ></circle-progress>
        </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="800"
        titleColor="white"
        titleFontSize="30"
    ></circle-progress>
    </div>
</div>

<div class="row">
    <h1>soft skills:</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [animationDuration]="800"
            titleColor="white"
            titleFontSize="30"
        ></circle-progress>
        </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="800"
        titleColor="white"
        titleFontSize="30"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [animationDuration]="800"
            titleColor="white"
            titleFontSize="30"
        ></circle-progress>
        </div>
</div>