<div class="row">
    <h1>Hard skills:</h1>
    <!--hard skills circles-->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [titleColor]="'white'"
        [subtitle]="'HTML'"
        [subtitleFontSize]="'20px'"
        [titleFontSize]="'20px'"
        subtitleColor="#CD1F00"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>
    </div>  
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [titleColor]="'white'"
        [subtitle]="'CSS'"
        [subtitleFontSize]="'20px'"
        [titleFontSize]="'20px'"
        subtitleColor="skyblue"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>
    </div>   
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="100"
        [titleColor]="'white'"
        [subtitle]="'JS'"
        [subtitleFontSize]="'20px'"
        [titleFontSize]="'20px'"
        subtitleColor="yellow"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>
    </div>   
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="40"
        [radius]="100"
        [titleColor]="'white'"
        [subtitle]="'PYTHON'"
        [subtitleFontSize]="'20px'"
        [titleFontSize]="'20px'"
        subtitleColor="yellow"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>
    </div>   
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [titleColor]="'white'"
        [subtitle]="'TYPESCRIPT'"
        [subtitleFontSize]="'20px'"
        [titleFontSize]="'20px'"
        subtitleColor="skyblue"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>
    </div>   
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [titleColor]="'white'"
        [subtitle]="'JAVA'"
        [subtitleFontSize]="'20px'"
        [titleFontSize]="'20px'"
        subtitleColor="red"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [titleColor]="'white'"
        [subtitle]="'ANGULAR'"
        [subtitleFontSize]="'20px'"
        [titleFontSize]="'20px'"
        subtitleColor="#830000"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>
    </div> 
    <!--soft skills circles-->
    <h1>Soft skills:</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [titleColor]="'white'"
        [subtitle]="'INGLES'"
        [titleFontSize]="'20px'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [subtitleFontSize]="'20px'"
        [subtitleFontSize]="'20px'"
        subtitleColor="white"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [titleColor]="'white'"
        [subtitle]="'TRABAJO GRUPAL'"
        [titleFontSize]="'20px'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [subtitleFontSize]="'15px'"
        subtitleColor="white"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="45"
        [radius]="100"
        [titleColor]="'white'"
        [subtitle]="'PORTUGUES'"
        [titleFontSize]="'20px'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [subtitleFontSize]="'20px'"
        [subtitleFontSize]="'20px'"
        subtitleColor="white"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>
    </div>     
</div>
