div{
    background-color: black;
}

.row{
    background-color: black;
}

h1 {
    display: inline;
    padding: 50px;
    color: white;
}

.btn{
   margin-left: 40px;
   margin-top: -40px; 
}

#editar{
    margin-top: 10px;
}

#eliminar{
    margin-top: 10px;
}
