<div class="row">
  <h1 id="experiencia">Experiencia laboral:</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>###</h1>
        -
        <h3>(years)</h3>
      </li>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam debitis
        aliquam vero eos fugit enim iure sint? Natus expedita totam laudantium
        optio corrupti nobis quos dignissimos repellat pariatur, velit harum.
      </p>
    </ul>
    <ul>
      <li>
        <h1>##</h1>
        -
        <h3>(years)</h3>
      </li>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam debitis
        aliquam vero eos fugit enim iure sint? Natus expedita totam laudantium
        optio corrupti nobis quos dignissimos repellat pariatur, velit harum.
      </p>
    </ul>
    <ul>
      <li>
        <h1>###</h1>
        -
        <h3>(years)</h3>
      </li>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam debitis
        aliquam vero eos fugit enim iure sint? Natus expedita totam laudantium
        optio corrupti nobis quos dignissimos repellat pariatur, velit harum.
      </p>
    </ul>
  </div>
</div>
